#navItem1{
    color: #323f4b;
    font-family: "Roboto";
}
#navItem2{
    color: #323f4b;
    font-family: "Roboto";
}
#navItem3{
    color: #323f4b;
    font-family: "Roboto";
}
#navItem4{
    color: #323f4b;
    font-family: "Roboto";
}

